.navbar {
  background-color: rgb(65, 65, 65);
  color: white;
  height: 7vh;
}

.navbar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
}

.menu {
  background-color: rgb(65, 65, 65);
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}
